*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#background {
  position: absolute;
  background-color: #f0f8ff;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  background-color: #FFFEF9;
  border-radius: 35px;
  margin-top: 100px;
  box-shadow:5px 5px 5px 0.1px;
}

.container:after{
	content:"";
  position:absolute;
  z-index:-1;
  top:100%;
  bottom:0;
	width:120%;
	height:90px;
	left:-10%;
	right:-10%;
  background:radial-gradient(ellipse at 50% 30%, rgba(96, 251, 202, 0.8), rgba(112, 220, 255, 0.5), rgba(255, 116, 225, 0.0) 50%), radial-gradient(circle at 80% 10%, rgba(96, 251, 202, 0.8), rgba(255, 255, 255, 0.0) 2%), radial-gradient(circle at 790% 720%, rgba(255, 251, 202, 0.8), rgba(255, 255, 255, 0.0) 1%);
}

p#headText {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-variant: small-caps;
  font-size: 8em;
  position: absolute;
  top: 340px;
  right: 300px;
  left: -90px;
  margin: 165px;
}

.navBar {
  width: 1500px;
}

.navBar li{
  list-style-type:none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  padding-left: 200px;
  padding-right: 200px;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: #1a1500;
  border:1px solid #998000;
}

ul {
  padding-bottom: 25px;
}

.navBar a:hover, .active {
    color: #e6bf00;
    background-color: #fffef9;
}

#emailList {
  width: 500px;
  padding-bottom: 55px;
  margin-left: 90px;
  margin-top: -90px;
}

input[type="email"] {
  border: 1px dotted #999;
  border-radius: 10px;
  width: 500px;
  height: 35px;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  margin: 15px;
  margin-bottom: 10px;
  transition: ease-in-out, width .35s ease-in-out;
  background-color: #f0f8ff;

}

input[type="email"]:focus {
  width: 1285px;
  outline: none;
}

input[type="submit"] {
  width: 200px;
  margin-bottom: 20px;
  margin-left: 15px;
  border: 1px dotted #999;
  border-radius: 5px;
  background-color: #f0f8ff;
}

img[name="art"] {
  float: center;
  margin: 30px;
  border-radius: 10px;
  box-shadow:5px 5px 5px 0.1px;
  position: relative;
}

h1 {
  position: relative;
  font-family: 'Raleway', sans-serif;
  top: 40px;
  right: 45px;
  font-size: 3em;
  opacity: 0.5;
}

h2, h3 {
  position: relative;
  font-family: 'Raleway', sans-serif;
  opacity: 0.5;
}
